<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Orbitron&family=Josefin+Sans&family=Poppins:wght@300&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Realtime Chat Support</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  p,
  li,
  input,
  button {
    font-family: 'Open Sans', sans-serif;
  }

  body {
    background: #f1f5f3;
    font-family: 'Poppins', sans-serif;
  }

  .chatroom {
    max-width: 400px;
    width: 100%;
    margin: 60px auto 0;
    background: #fff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all .3s;
  }

  .chatroom.active {
    filter: blur(20px);
  }

  .chatroom_section {
    padding: 10px 20px;
  }

  .chatroom_header {
    border-bottom: 1px solid grey;
  }

  .chatroom_header_name {
    position: relative;
    font-family: 'Poppins', sans-serif;
  }

  .chatroom_header_name::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translatey(-50%);
    font-weight: 900;
  }

  .chatroom_history {
    flex: 2;
  }

  .chatroom_history_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 250px;
    overflow-y: scroll;
  }

  .chatroom_history_list_item {
    margin-top: auto;
    margin-bottom: 20px;
    max-width: 75%;
    width: 100%;
    border-radius: 15px;
    padding: 10px 20px;
    color: #fff;
  }

  .chatroom_history_list_right {
    align-self: flex-end;
  }

  .chatroom_history_list_right:last-child {
    background: grey;
  }

  .chatroom_history_list_item--grey {
    background: grey;
  }

  .chatroom_history_list_item--blue {
    background: navajowhite;
  }

  .chatroom_history_entering {
    padding-top: 20px;
  }

  .chatroom_history_entering_spinner {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 50%;
    position: relative;
    margin-left: 15px;
    animation: 1.5s enteringMessage linear infinite;
    animation-delay: .5s;
  }

  .chatroom_history_entering_spinner::before,
  .chatroom_history_entering_spinner::after {
    content: "";
    width: 10px;
    height: 10px;
    background: grey;
    border-radius: 50%;
    position: absolute;
    top: 0;
  }

  .chatroom_history_entering_spinner::before {
    left: -15px;
    animation: 1.5s enteringMessage linear infinite;
  }

  .chatroom_history_entering_spinner::after {
    left: 15px;
    animation: 1.5s enteringMessage linear infinite;
    animation-delay: .75s;
  }

  .chatroom_history_entering_label {
    display: inline-block;
    margin-left: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

  .chatroom_form {
    border-top: 1px solid grey;
  }

  .chatroom_form form {
    display: flex;
    justify-content: space-between;
  }

  .chatroom_form_inputbox {
    flex-basis: 70%;
    max-width: 70%;
  }

  .chatroom_form_sendBtn {
    flex-basis: 20%;
    max-width: 20%;
  }

  /* Button Styling */
  .stylebutton {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .stylebutton>button {
    margin: 2%;
  }

  a {
    text-decoration: none;
  }

  button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: #4e0b54;
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s;
  }

  button svg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
  }

  button:hover {
    background: #1f141b;
  }

  button:hover svg {
    transform: translateX(5px) rotate(90deg);
  }

  button:hover span {
    transform: translateX(7px);
  }

  .coins {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 3%;
  }

  .coinBox {
    background: #4e0b54;
    color: #fff;
    padding: 5px 40px;
    border-radius: 5px;

    font-size: .8rem;
  }

  .coinBox>div {
    display: flex;
    justify-content: center;
  }

  .cointext h3 {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .coinscount p {
    font-size: 1.4rem;
    font-family: 'Orbitron', sans-serif;
  }

  /* Matches List */
  .chats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
    top: 0;
    left: 0;
  }

  .matches {
    position: relative;
    top: 0;
    left: 0;
    background: #4e0b54;
    color: #fff;
    border-radius: 50px;
  }

  .matches a {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background: #f1f5f3;
    color: #1c1d1e;
    padding: .4em .6em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .8rem;
    font-family: 'Josefin Sans', sans-serif;
    border-radius: 10px;
    transition: all .4s;
  }

  .matches a:hover {
    background: rgb(218, 218, 218);
  }


  @keyframes enteringMessage {
    0% {
      transform: scale(1);
      background: rgba(139, 139, 139, .5);
    }

    100% {
      transform: scale(.8);
      background: rgba(139, 139, 139, 0);
    }
  }

  /* For participant display */
  .show {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    background: #ffffff;
    cursor: pointer;
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    border-radius: 30px;
  }

  .members {
    position: absolute;
    top: 15%;
    left: 80%;
  }

  .members ul {
    list-style: none;
    opacity: 0;
    pointer-events: none;
  }

  .members ul li {
    margin-top: 6%;
    padding: 10px 30px;
    background: #ffffff;
    color: #000000;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
  }

  .members ul li i {
    position: absolute;
    left: 89%;
    color: rgb(66, 248, 66);
  }

  .show:hover~ul {
    transition: all .7s;
    opacity: 1;
  }

  .requestsButton,
  .leaveButton {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  .resultButton {
    position: absolute;
    top: 80%;
    left: 80%;
  }

  .leaveButton {
    top: 90%;
    left: 50%;
  }

  .coincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .form {
    position: absolute;
    top: -50%;
    left: 43%;
    transform: translate(-50%, -50%);
    z-index: 20;
    margin: 7%;
    background: #ffffff;
    padding: 1em 2em 1em 2em;
    border-radius: 4px;
    transition: all .3s;
  }

  .form.active {
    top: 20%;
  }

  .name,
  .password,
  .plan,
  .btn {
    display: flex;
    justify-content: center;
    margin: 10%;
  }

  input[type="text"] {
    padding: 1em 1.5em 1em 1.5em;
    border: none;
    background: rgb(238, 235, 235);
    border-radius: 5px;
    outline: none;
    font-family: 'Josefin Sans', sans-serif;
  }

  button {
    padding: .7em 1em .7em 1em;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(25, 48, 70);
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 1px 1px 2px #000000;
  }

  button:hover {
    transition: all .3s;
    background: rgb(77, 77, 77)
  }

  .form h2 {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.4rem;
    margin: 2%;
    border-bottom: .5px dashed #1c1d1e;
    line-height: 50px;
  }

  /* .roomPage {
    background: rgb(55, 154, 247);
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)), url("https://img.search.brave.com/bOrTB2nAfhf_p4N03qGGhLYGn7Q4MnjP9EtQN-t1RS0/rs:fit:788:800:1/g:ce/aHR0cHM6Ly9kMTNp/cjUzc21xcWV5cC5j/bG91ZGZyb250Lm5l/dC9kMTEtc3RhdGlj/LXBhZ2VzL2xhbmRp/bmdfcGFnZS9ob21l/X2Rlc2t0b3BfZGhv/bmkucG5n");
    background-size: cover;
    min-height: 100vh;
  } */

  .courseButtons {
    display: flex;
    justify-content: center;

    margin: 10%;
  }

  .courseButtons>button {
    margin-left: 4%;
  }
</style>
<script>
  let user_name = `<%=userName%>`;
  console.log("Name: ", user_name);
</script>

<body>

  <div class="roomPage">
    <div class="coincontainer">
      <div class="chatroom">
        <div class="chatroom_section chatroom_header">
          <div class="chatroom_section chatroom_header_name">Neuro Query Support</div>
        </div>
        <div class="chatroom_section chatroom_history">
          <ul class="chatroom_history_list chats">
            <li class="chatroom_history_list_item chatroom_history_list_left chatroom_history_list_item--grey matches">
              Hello, <%=userName%>
            </li>
          </ul>
          <!-- <div class="chatroom_history_entering">
            <div class="chatroom_history_entering_spinner"></div>
            <span class="chatroom_history_entering_label">Typing</span>
          </div> -->
        </div>
        <div class="chatroom_section chatroom_form stylebutton">
          <input type="text" class="chatroom_form_inputbox" placeholder="Enter Message">
          <!-- <button type="submit" class="chatroom_form_buyBtn"></button> -->
          <!-- <a class="in"></a> -->
          <button type="submit" class="chatroom_form_sendBtn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i>
            Send</button>
        </div>
      </div>

      <%if(role==="User"){%>
      <div class="courseButtons">
        <button data-status = "unresolved" onclick="resolveStatus(this)">Unresolved</button>
    </div>
    <%}%>

</body>
<script src="https://unpkg.com/rivescript@latest/dist/rivescript.min.js"></script>
<!--Above script is added to bring rivescript functionality in our project-->
<script src="js/main.js"></script>

</html>